name: Debug
on: [push, pull_request]
jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Debug info
        run: |
          echo "Workflow triggered!"
          echo "Event: ${{ github.event_name }}"
          echo "Ref: ${{ github.ref }}"